[user]
	name = Yutaro Iino
	email = ytrino@gmail.com
[core]
	excludesfile = /Users/yiino/.gitignore_global
	editor = vim
	quotepath = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
	co = checkout
	b = branch
	br = switch -c # create branch 
	s = switch
	ss = status
	st = status
	ss = status -s
	
	# commit
	ad = add
	aa = add -A # All
        ap = add -p # pick
	c = commit
	cm = commit -m
	cam = commit --amend
	p = push
        pu = push -u # set remote tracking branch
        puo = push -u origin
	pl = pull
	f = fetch
	fo = fetch origin
	r = reset
	re = reset
	rs = reset --soft
	rh = reset --hard
	rhh = reset --hard HEAD
	rhh1 = reset --hard HEAD~
	rhh2 = reset --hard HEAD~~
	m = merge
	mff = merge --ff-only
        mt = mergetool
	rr = rebase
	rb = rebase
	ri = rebase -i
        rbi = rebase -i
        rb2 = rebase -i HEAD~2
        rb3 = rebase -i HEAD~3
        rb4 = rebase -i HEAD~4
        rb5 = rebase -i HEAD~5
	cp = cherry-pick

	# log
	ll = log --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn%x09%Creset%s %C(white)%d%Creset' # onelineでlogを出す
	lg = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s %C(white)%d%Creset'
	lm = "!f() { git log --pretty=format:'%h %s %b' --merges $@ | sed -e 's/Merge pull request \\(#[0-9]*\\) from \\([^ ]*\\)/\\1/g' | more;}; f"
	
	# diff
	d = diff
	di = diff
	dif = diff
	dst = diff --staged
	ds = diff --stat
	dss = diff --staged --stat
	d1 = diff HEAD~            # HEADから1つ前とdiff
	d2 = diff HEAD~~           # HEADから2つ前とdiff
	d3 = diff HEAD~~~          # HEADから3つ前とdiff

	# misc
	root = rev-parse --show-toplevel
	
	# review
	pr = "!f() { git fetch origin +refs/pull/$1/head; git checkout FETCH_HEAD; }; f" 
	prh = "!f() { git fetch origin +refs/pull/$1/head; git checkout FETCH_HEAD; }; f" 
	prm = "!f() { git fetch origin +refs/pull/$1/merge; git checkout FETCH_HEAD; }; f" 
[color]
	diff = auto
	status = auto
[grep]
	lineNumber = true
[pull]
	ff = only
[merge]
	ff = false
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[push]
	default = upstream
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff]
	compactionHeuristic = true
[http]
	cookiefile = /Users/ytrino/.gitcookies
[init]
	defaultBranch = main
